<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Greetings</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="greetings">
            <h1>Hello World! {{ name }}, welcome to CCCS 106 - Application
                Development and Emerging Technologies</h1>
            <div class="go-back-link">
                <a href="/">Go back</a>
            </div>
        </div>
    </body>
</html>
