<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        {% if name %}
        <div class="greetings">
            <h1>Hello, {{ name }}!</h1>
            <div class="go-back-link">
                <a href="/">Go back</a>
            </div>
        </div>
        {% else %}
        <div class="wrapper">
            <h1>Hello</h1>
            <form method="POST">
                <div class="input-box">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Name"
                        required
                        class />
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        {% endif %}
    </body>
</html>
